<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798841577796-njt4s9bb5iojai5vs2k5ru6hj9vdgo0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798841577796-njt4s9bb5iojai5vs2k5ru6hj9vdgo0f</string>
	<key>API_KEY</key>
	<string>AIzaSyDgNwI1yzGeZX32BJcY3LN2KBzYbARu51A</string>
	<key>GCM_SENDER_ID</key>
	<string>798841577796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yumiH.edu.pifluits</string>
	<key>PROJECT_ID</key>
	<string>pifruits-5d32b</string>
	<key>STORAGE_BUCKET</key>
	<string>pifruits-5d32b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:798841577796:ios:c43aa42d51422e66</string>
	<key>DATABASE_URL</key>
	<string>https://pifruits-5d32b.firebaseio.com</string>
</dict>
</plist>